h1 {
    color: rgba(104, 18, 94, 0.803);
    
    margin-top: 80px;
    text-align: center;
    font-size: 70px;
}

.div-red {
    color: red;
}
.div-green {
    color: green;
}

.paragraf{
    font-size: 30px;
}
.hide {
    display: none;
    /* background-color: green; */
}
#btn{
    color:red;
    height: 40px;
    width: 380px;
    border-radius: 100px;
    border:10px solid red;
    

}